<script setup>
import { ref } from 'vue'
import { getPoints } from './api'

const points = ref()
const pointsFromPostman = ref([
  {
    "points": [
      {
        "SH": 504,
        "distance": 31
      }
    ]
  },
  {
    "points": [
      {
        "SH": 56,
        "distance": 25
      },
      {
        "SH": 120,
        "distance": 36
      },
      {
        "SH": 1016,
        "distance": 20
      }
    ]
  },
  {
    "points": [
      {
        "SH": 3,
        "distance": 10
      },
      {
        "SH": 7,
        "distance": 15
      }
    ]
  }
])


let days = 0
let distance = 31
let M = 504 + 192
let vMax = 2
let W = 100
let v = vMax * W / 80 * 200 / M
days = distance / v
console.log(days);

async function start() {
  points.value = await getPoints()
}
// start()


const userRoute = ref([])
const currentDistance = ref(30)
const currentSH = ref(100)

function pushPoint() {
  userRoute.value.push({ SH: currentDistance.value, distance: currentDistance.value })
}
</script>
<template>
  <h1>Межпланетный экспресс</h1>
  <div>
    полётное задание:


    Стартовые значения коробля:
    SH: <input type="number" name="" id="" value="100">
    <br>
    <br>
    маршрут:
    <div v-for="route in userRoute"> {{ route }}</div>
    <br>
    добавить точку в маршрут
    <div style="display: flex;">
      SH: <input type="number" name="" id="" v-model="currentSH">
      distance: <input type="number" name="" id="" v-model="currentDistance">
      <button @click="pushPoint">добавить</button>
    </div>


  </div>
</template>

<style scoped>
h1{
  text-decoration:underline;

}
</style>

